.customerform{display: none}
.itemform{display: none}
.placeorderform{display: none}

#hr{
    height: 5px;
    position: relative;
    top: -21px;
    color: darkblue;
}

/*--------------------------------------------home page---------------------------------------------*/

/*--------------------------------------------customer form---------------------------------------------*/


#customerTag{
    position: relative;
    left: 10px;
    color: #084298;
}

#div1{
    position: relative;
    left: 60px;
    top: 20px;
}

#txtCusID{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#cusIdLabel{
    color: #084298 ;
    font-weight: bold;
}

#div2{
    position: relative;
    left: 300px;
    top: -33px;
}

#txtCusName{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#cusNameLabel{
    color: #084298 ;
    font-weight: bold;
}

#div3{
    position: relative;
    left: 545px;
    top: -86.5px;
}

#txtCusAdd{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#cusAddLabel{
    color: #084298 ;
    font-weight: bold;
}

#div4{
    position: relative;
    left: 790px;
    top: -140px;
}

#txtCusSal{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#cusSalLabel{
    color: #084298 ;
    font-weight: bold;
}

#btnSaveCus{
    position: relative;
    left: 1050px;
    top: -170px;
    width: 100px;
}

#btnUpdateCus{
    position: relative;
    left: 1070px;
    top: -170px;
    width: 100px;
}

#btnDeleteCus{
    position: relative;
    left: 1100px;
    top: -170px;
    width: 100px;
}

#txtCusSearch{
    position: relative;
    left: -250px;
    top: -90px;
    width: 420px;
    border-color: #084298 ;
    border-radius: 10px;
}

#btnSearchCus{
    position: relative;
    left: -200px;
    top: -95px;
    width: 150px;

}

#customerTable{
    background-color: rgba(111, 148, 220,0.5);
    width: 1400px;
    position: relative;
    left: 60px;
}

/*--------------------------------------------item form---------------------------------------------*/


#itemTag{
    position: relative;
    left: 10px;
    color: #084298;
}

#div1{
    position: relative;
    left: 60px;
    top: 20px;
}

#txtItemID{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#itemIdLabel{
    color: #084298 ;
    font-weight: bold;
}

#div2{
    position: relative;
    left: 300px;
    top: -33px;
}

#txtItemName{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#itemNameLabel{
    color: #084298 ;
    font-weight: bold;
}

#div3{
    position: relative;
    left: 545px;
    top: -86.5px;
}

#txtItemAdd{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#itemAddLabel{
    color: #084298 ;
    font-weight: bold;
}

#div4{
    position: relative;
    left: 790px;
    top: -140px;
}

#txtItemSal{
    position: relative;
    top: 5px;
    border-color: #084298 ;
    border-radius: 10px;
}

#itemSalLabel{
    color: #084298 ;
    font-weight: bold;
}

#btnSaveItem{
    position: relative;
    left: 1050px;
    top: -170px;
    width: 100px;
}

#btnUpdateItem{
    position: relative;
    left: 1070px;
    top: -170px;
    width: 100px;
}

#btnDeleteItem{
    position: relative;
    left: 1100px;
    top: -170px;
    width: 100px;
}

#txtItemSearch{
    position: relative;
    left: -250px;
    top: -90px;
    width: 420px;
    border-color: #084298 ;
    border-radius: 10px;
}

#btnSearchItem{
    position: relative;
    left: -200px;
    top: -95px;
    width: 150px;

}

#itemTable {
    background-color: rgba(111, 148, 220, 0.5);
    width: 1400px;
    position: relative;
    left: 60px;
}

/*--------------------------------------------place order form---------------------------------------------*/

#placeorderTag{
    position: relative;
    left: 10px;
    color: #084298;
    top: -48px;
}

#p1{
    position: relative;
    top: -100px;
}

#p2{
    position: relative;
    top: -100px;
}

#p3{
    position: relative;
    top: -100px;
}

#cart{
    position: relative;
    left: 10px;
    color: #084298;
}

#cartTbl{
    background-color: rgba(111, 148, 220, 0.5);
    width: 1400px;
    position: relative;
    left: 60px;
}

#tagTotal{
    position: relative;
    right: -900px;
}

#Lt{
    color: green;
    font-size: xx-large;
    font-weight: bold;
}